*{
    margin: 0;
    padding: 0;
}
#header_st{
    width: 100%;
    height: 9vh;
    background: #FF6F00;
    color: white;
    display: flex;
    justify-content: center;
    font-family: poppins;
    align-items: center;
    position: fixed;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2)
}
#header_st i{
    font-size: 30px;
}
.more{
    padding: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.more .title{
    font-weight: 300;
    margin-top: 25px;
}
.more .title p{
    font-size: 30px;
}
.more .card{
    display: flex;
    align-items: center;
    font-family: poppins;
    border-radius: 5px;
    width: 550px;
    height:600px;
    background: #e9e7e7;
    flex-direction: column;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
}
.form label, input textarea{
    display: block;
    margin: 10px;
}
.form label{
    font-weight: 200;
}

.form input{
    background-color: #D3D3D3;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    width: 300px;
    height: 25px;
    border: none;
    outline: none;
    border-bottom: 3px solid #FF6F00;
    padding: 10px;
}
.form textarea{
    width: 300px;
    height: 150px;
    background-color: #D3D3D3;
    border: none;
    outline: none;
    border-bottom: 3px solid #FF6F00;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    padding: 10px;
}
.send{
    display: flex;
    align-items: center;
    justify-content: center;
}
.send-fd{
    margin: 10px;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    background-color: #FF6F00;
    border: none;
    color: white;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
.send-fd:hover{
    background:  #E65100;;
}
.back{
    margin: 30px;
}
.back a{
    text-decoration: none;
    color: inherit;
    font-family: poppins;
    font-size: 20px;
    font-weight: 200;
}
.back:hover{
    color: #FF6F00;
}
@media (max-width: 600px){
    .more{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10vh 5%; 
    }

    .more .card{
        width: 100%;
        max-width: 400px; 
        padding: 15px;

    .form input, .form textarea{
        width: 100%; 
    }

    .send-fd{
        width: 100%; 
        margin-top: 20px; 
    }

    .more .title p{
        font-size: 24px; 
    }
}}